.scra-text-icon {
  font-size: 30px;
  align-self: flex-start;
}

.scra-header-title {
  margin-bottom: 50px;
}

.scra-form-email {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.scra-color-black {
  color: get-color(dark, 1) !important;
}

.scra-image {
  min-width: 850px;
}

.scra-annonce {
  margin-left: -263px;
  min-width: 850px;
}

.scra-search {
  display: flex;
  justify-content: space-around;
  width: 40em;
  align-items: center;
}

.scra-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: 700px) {
  .scra-form-email {
    display: flex;
    flex-direction: column;
    align-items: center;

    Input {
      margin-bottom: 1em;
      width: 280px;
    }
  }

  .scra-image {
    min-width: 350px;
  }

  .scra-annonce {
    margin-left: -263px;
    min-width: 350px;
  }

  .scra-search {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .scra-header-title {
    margin-bottom: 30px;
    display: flex;
    text-align: center;
    max-width: 366px;
  }

  .scra-search-button {
    margin-top: 20px;
  }
}
