
.scra-footer {
  color: white;
}

.illustration-section-02::after {
  background-image: none !important;
}

.scra-background-color {
  background-color: #2007db;
}

.scra-color {
  color: #2007db;
}

.scra-text-icon {
  font-size: 30px;
  align-self: flex-start;
  margin-left: 10%;
}

.scra-home-title {
  margin-bottom: 50px;
}

.scra-form-email {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.scra-color-black {
  color: get-color(dark, 1) !important;
}

.scra-image {
  height: auto;
}

.scra-annonce {
  height: auto;
}

.scra-search {
  display: flex;
  justify-content: space-around;
  width: 40em;
  align-items: center;
}

.scra-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: 700px) {
  .scra-text-icon {
    font-size: 30px;
    width: 111px;
    align-self: auto;
  }

  .scra-form-email {
    display: flex;
    flex-direction: column;
    align-items: center;

    Input {
      margin-bottom: 1em;
      width: 280px;
    }
  }

  .scra-image-mobile {
    display: block;
    width: auto;
    height: auto;
  }

  .scra-search {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .scra-header-title {
    max-width: 320px;
    margin: auto;
    text-align: center;
  }

  .title-mobile {
    max-width: 320px;
    margin: auto;
    text-align: center;
  }


  .scra-search-button {
    margin-top: 20px;
  }

  .scra-description {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .scra-annonce, .scra-image {
    width: 100% !important;
    margin: auto;
    height: auto !important;
    min-width: 100% !important;
  }
}
